* {
  box-sizing: border-box;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

/* Used to make the appearance of buttons look like a grid when together */
.square {
  background: #f0f0f0;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.board-row {
  min-width: 680px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.board {
  /*First row of board appears beside the header without this.*/
  padding-top: 80px;
}

.header {
  background: #f0f0f0;
  border: 1px solid #999;
  margin-bottom: 10px;
  min-width: 300px;
  height: 70px;
  text-align: center;
  float: left;
  /* https://stackoverflow.com/questions/39426507/aligning-three-elements-left-center-right-inside-a-container */
  display: flex; /* Was "inline-block" previously */
  align-items: flex-start;
  justify-content: space-between;
  /* Content is aligned in the vertical center of the container. */
  padding: 1rem; /* To push to edges "1rem 0" */
}

/*status will eventually be an image*/
.status {
  /* float: center; */
  font-weight: bold;
  font-size: 24px;
  text-align: center;
}

.flags-remaining {
  /* float: left; */
  font-weight: bold;
  font-size: 24px;
  text-align: left;
}

.timer {
  /* float: right; */
  font-weight: bold;
  font-size: 24px;
  text-align: center;
}
